.product {
    margin: auto;
    margin-top: 0.2rem;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
    width: 40rem;
    border-radius: 8px;
    padding: 1rem;
    background-color: #f4f0fa;
  }
.product button{
    background: white;
    color: skyblue;
    border-color: skyblue;
}
.product button:hover {
    background: skyblue;
    color: white;
}
.product h2{
    display: inline;
}

  .row {
      margin-bottom: 2rem;
  }

 
  
  .price {
      background: #292929;
      width: 7rem;
      height: 2rem;
      text-align: center;
      line-height: 0.3rem;
      border-radius: 20px;
      /* position: absolute; */
      float: right;
      padding: 1rem;
      right: 0px;
      font-size: 1.5rem;
      color: white;
  }

  .right {
      float: right;
  }
  